<!-- Navbar-->
<nav class="navbar navbar-expand-lg shopl">
    <div class="container-fluid justify-content-between">
      <!-- Left elements -->
      <div class="d-flex">
        <!-- Brand -->
            <h2 class="text-black"><em>Local Shop</em></h2>

            
        <!-- Search form -->


      </div>
      <!-- Left elements -->
    
      <!-- Right elements -->
      

      <div class="navbar-right">
        <a class="mx-4" href="">About us</a>
        <a class="mx-4" href="">Contact us</a>
        <a class="mx-4" href="">Login</a>
     
      </div>
      </div>
      
  </nav>
  