<!-- Navbar-->
<nav class="navbar navbar-expand-lg shopl">
    <div class="container-fluid justify-content-between">
      <!-- Left elements -->
      <div class="d-flex">
        <!-- Brand -->
            <h2 class="text-white"><em>Local Shop</em></h2>
       
        <!-- Search form -->
      </div>
      <!-- Left elements -->
    
      <!-- Right elements -->

      <div class="collapse navbar-collapse" id="navbarRightAlignExample">
        <!-- Left links -->
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" href="#">About us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#">Contact us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#">Log in</a>
          </li>
       
        </ul>
        <!-- Left links -->
      </div>
      </div>
      
  </nav>
