<app-navbar></app-navbar>
<div class="container mt-4" style="min-height:77vh; display:flex; flex-direction:column; 
justify-content:space-between;">
    <div class="about-wrapper" style="margin-top: 20px;">
        <h4 class="text-center mb-4">About Us</h4> 
        <div class="row">
            <div class="col-md-6">
                <h5 class="strong">Ut placeat rerum et unde eius et tempore soluta!</h5>
                <p class="lead">Qui quia excepturi et eius natus aut dolore modi in voluptates quia qui saepe similique ut corrupti nihil. Ut placeat rerum et unde eius et tempore soluta!</p>
            </div>
            <div class="col-md-6">
                <p>Cum ducimus quia et impedit galisum a nihil labore sed beatae quia! Ut neque nesciunt est cumque sequi qui velit mollitia et natus tenetur ut odit repellendus.</p>
                <p>Ut neque nesciunt est cumque sequi qui velit mollitia et natus tenetur ut odit repellendus. Sit aspernatur temporibus et provident esse quo eaque dolore est inventore repellat 33 voluptates asperiores et facere dolores.</p>
            </div>
    
            <div class="row">
                <div class="site-heading text-center">
                    <h5>Et mollitia consequatur rem facilis nihil eum</h5>
                    <p>Ut nisi corporis et explicabo rerum sed aperiam eius At voluptate molestias. Eum facere doloribus est vitae dolorem et dolorem inventore. Qui omnis nihil et nemo soluta eos omnis debitis repellat optio eos nostrum sint. In impedit dolorem aut quas rerum qui odio perspiciatis ut modi adipisci aut velit accusantium.</p>
                </div>
            </div>
        </div>
    </div>

</div>
<app-footer></app-footer>
