<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
  <app-navbar></app-navbar>
    <h3 class="title">Defective Goods</h3>
    <div class="container" id="defective-container">
        <h5 style="margin-top: 8px;">Add Defective Good</h5>
        <div class="product_container">
          <input type="text" id="product" Placeholder="Product Name ..." #title required>
        </div><br>
        <div class="quantity_container">
            <input type="number" id="quantity" Placeholder="Quantity ..."  #quantity required/>
          </div>
          <br>
          <div class="store_container">
            <input type="text" id="store" Placeholder="Store ..."  #quantity required/>
          </div>
          <br>
        <div class="category">
            <!-- <input type="text" id="cat" Placeholder="Choose category ..."  #cat required/> -->
            <!-- <label for="category">Choose a category:</label> -->

            <select name="cat" id="cat">
              <option value="choose category">Choose category</option>
              <option value="Electronics">Electronics</option>
              <option value="food">food</option>
              <option value="Kitchen ware">Kitchen ware</option>
            </select>
          
        </div>
          <br>
        
        <button class="submit_btn" id="submit-defective" style="margin-bottom: 5px; border-radius: 5px;">
          Add 
        </button>
      </div>
      
    <div class="container">
        <div class="defective mt-5" id="">
         
            <table class="table" id="defective-table">
                <thead class="thead" id="defective-thead">
                    <th>Product Name</th>
                    
                   
                    <th>Quantity</th>
                    <th>Store</th>
                    <th>Category</th>
                    
                </thead>
              
                <tr id="defective-tr">
                    <td>Product</td>
                    <td>Product</td>
                    <td>Product</td>
                    <td>Product</td>
                   
                </tr>
              
            
            
            </table>
        </div>
        
    </div>
  
    <app-footer></app-footer> 
</body>
</html>